@using MiniTravelingExplorer.Utils

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left align-center-elements">
            <img src="../../Images/Logo2.jpg" alt="" />
            <h3>Welcome</h3>
        </div>

        <div class="col-md-9 register-right">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row register-form align-center-elements">
                        <div class="col-md-12">
                            <h3 class="reset-password-title-heading text-center mb-2">Reset Password</h3>
                        </div>
                        <div class="col-md-6 reset-password-link-container align-center-elements justify-content-center margin-bottom-sm-m15">
                            <div class="form-group reset-password-group">
                                <label>Email</label>
                                <input type="text" id="reset_password_email" class="form-control" name="Email" placeholder="Email *" />
                                <span id="reset_password_email_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_email" data-valmsg-replace="true">@Constant.ENTER_EMAIL_ERROR_MESSAGE</span>
                                <span id="reset_password_email_invalid_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_email" data-valmsg-replace="true">@Constant.ENTER_EMAIL_INVALID_ERROR_MESSAGE</span>
                            </div>
                            <div class="form-group reset-password-recaptcha-group">
                                <div id="reset_password_recaptcha" class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings[Constant.GOOGLE_RECAPTCHA_SITE_KEY]" data-callback="passwordResetRecaptchaCallback" data-expired-callback="passwordResetRecaptchaExpired"></div>
                                <span id="reset_password_recaptcha_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_email" data-valmsg-replace="true">@Constant.RECAPTCHA_ERROR_MESSAGE</span>
                            </div>
                            <button id="reset_password_link_lg_button" class="btnSendLink hover-float-shadow hide-sm">Send Link</button>
                        </div>
                        <div class="col-md-6 reset-password-container align-center-elements justify-content-center margin-bottom-sm-m15">
                            <div class="form-group reset-password-group icon-group">
                                <label>Password</label>
                                <div class="tooltip-container">
                                    <span class="tooltip-content">@Html.Partial("_PasswordRequirement")</span>
                                    <i class="fa-icon fa fa-info-circle password-info-icon"></i>
                                </div>
                                <input type="password" id="reset_password_password" class="form-control" name="reset_password_password" placeholder="Password *" />
                                <span id="reset_password_password_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_password" data-valmsg-replace="true">@Constant.ENTER_PASSWORD_ERROR_MESSAGE</span>
                                <span id="reset_password_password_invalid_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_password" data-valmsg-replace="true">@Constant.ENTER_PASSWORD_INVALID_ERROR_MESSAGE</span>
                                <span id="reset_password_password_requirements_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_password" data-valmsg-replace="true">@Constant.ENTER_PASSWORD_REQUIREMENTS_ERROR_MESSAGE</span>
                            </div>
                            <div class="form-group reset-password-group mt-2">
                                <label>Confirm Password</label>
                                <input type="password" id="reset_password_confirm_password" class="form-control" name="reset_password_confirm_password" placeholder="Confirm Password *" />
                                <span id="reset_password_confirm_password_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_confirm_password" data-valmsg-replace="true">@Constant.ENTER_CONFIRMATION_PASSWORD_ERROR_MESSAGE</span>
                                <span id="reset_password_confirm_password_invalid_error_message" class="field-validation-error hide" data-valmsg-for="reset_password_confirm_password" data-valmsg-replace="true">@Constant.ENTER_CONFIRMATION_PASSWORD_INVALID_ERROR_MESSAGE</span>
                            </div>
                            <button id="reset_password_lg_button" class="btnSendLink hover-float-shadow hide-sm">Reset Password</button>
                        </div>
                    </div>
                    <div class="col-md-12 pr-25 mt-2 hide-lg">
                        <button id="reset_password_link_sm_button" class="btnSendLink reset-password-link-container login-register-button float-right-sm">Send Link</button>
                        <button id="reset_password_sm_button" class="btnSendLink reset-password-container login-register-button float-right-sm">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>