@using MiniTravelingExplorer.Utils

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")

<div class="container register">
    <div class="row">
        <div class="col-md-3 change-password-left align-center-elements icon-group">
            <img src="@(@Session[Constant.USER_IMAGE] != null ? @Session[Constant.USER_IMAGE] : "../../Images/User.jpg")" alt="User Image" />
            <span class="change-password-user-name">@Session[Constant.FULL_NAME]</span>
        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row register-form align-center-elements">
                        <div class="col-md-12">
                            <h3 class="change-password-title-heading text-center mb-2">Change Password</h3>
                        </div>
                        <div class="col-md-6 change-password-container align-center-elements justify-content-center margin-bottom-sm-m15">
                            <div class="form-group change-password-group">
                                <label>Current Password</label>
                                <input type="password" id="change_password_current_password" class="form-control" placeholder="Current Password *" maxlength="20" />
                                <span id="change_password_current_password_error_message" class="field-validation-error hide" data-valmsg-for="change_password_current_password" data-valmsg-replace="true">@Constant.CHANGE_PASSWORD_ERROR_MESSAGE</span>
                            </div>
                            <div class="form-group change-password-group icon-group">
                                <label>Password</label>
                                <div class="tooltip-container">
                                    <span class="tooltip-content">@Html.Partial("_PasswordRequirement")</span>
                                    <i class="fa-icon fa fa-info-circle password-info-icon"></i>
                                </div>
                                <input type="password" id="change_password_password" class="form-control" name="change_password_password" placeholder="Password *" maxlength="20" />
                                <span id="change_password_password_error_message" class="field-validation-error hide" data-valmsg-for="change_password_password" data-valmsg-replace="true">@Constant.ENTER_PASSWORD_ERROR_MESSAGE</span>
                                <span id="change_password_password_invalid_error_message" class="field-validation-error hide" data-valmsg-for="change_password_password" data-valmsg-replace="true">@Constant.ENTER_PASSWORD_INVALID_ERROR_MESSAGE</span>
                                <span id="change_password_password_requirements_error_message" class="field-validation-error hide" data-valmsg-for="change_password_password" data-valmsg-replace="true">@Constant.ENTER_PASSWORD_REQUIREMENTS_ERROR_MESSAGE</span>
                                <span id="change_password_password_same_as_current_password_error_message" class="field-validation-error hide" data-valmsg-for="change_password_password" data-valmsg-replace="true">@Constant.CHANGE_PASSWORD_SAME_AS_NEW_PASSWORD_ERROR_MESSAGE</span>
                            </div>
                            <div class="form-group change-password-group mt-2">
                                <label>Confirm Password</label>
                                <input type="password" id="change_password_confirm_password" class="form-control" name="change_password_confirm_password" placeholder="Confirm Password *" maxlength="20" />
                                <span id="change_password_confirm_password_error_message" class="field-validation-error hide" data-valmsg-for="change_password_confirm_password" data-valmsg-replace="true">@Constant.ENTER_CONFIRMATION_PASSWORD_ERROR_MESSAGE</span>
                                <span id="change_password_confirm_password_invalid_error_message" class="field-validation-error hide" data-valmsg-for="change_password_confirm_password" data-valmsg-replace="true">@Constant.ENTER_CONFIRMATION_PASSWORD_INVALID_ERROR_MESSAGE</span>
                            </div>
                            <button id="change_password_lg_button" class="btnSendLink hover-float-shadow hide-sm">Change Password</button>
                        </div>
                    </div>
                    <div class="col-md-12 pr-25 mt-2 hide-lg">
                        <button id="change_password_sm_button" class="btnSendLink change-password-container reset-password-container login-register-button float-right-sm">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")